{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <div class="row">
            {% for image in images %}
                {% if image.approved %}
                    <div class="col-md-4 text-center" style="height: 350px;margin-bottom: 1%">
                        <table class="table table-bordered" style="height: 100%">
                            <tr>
                                <td>
                                    <div><h4>{{ image.title }}</h4></div>
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 100%">
                                    <span style="vertical-align: middle;height: 100%;display: inline-block"></span><img data-type="image" style="max-width:340px;max-height:350px;vertical-align: middle;" src="{{ asset('uploads/images/' ~ image.image) }}" />

                                </td>
                            </tr>
                        </table>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body text-center" style="position: relative;">
                    <img class="center-block img-responsive" id="img01">
                </div>
                <div class="modal-footer">
                    <span id="author"> </span><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block myJavascripts %}
<script>
    $("[data-type='image']").click(function () {
        $("#img01").attr("src", $(this).attr("src"));
        $("#myModal").modal();
    });

</script>
{% endblock %}